
/* Write your custom CSS here */
.login-outer-panel {
	height: 526px;
	position: relative;
	text-align: center;
}

.login-inner-panel {
	position: absolute;
	top: 40%;
	left: 50%;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.form-control-feedback {
	right:10px;
}

.page-inner {
    /*height: 100vh;*/
    padding: 30px 0 50px !important;
}

.align-left {
	text-align: left !important;
}
.align-right {
	text-align: right !important;
}

.left-padding-30 {
	padding-left: 30px !important;
}

.button-panel {
	text-align: center;
	padding-top: 50px;
	/*border-top: 1px solid #afafaf;*/
}
.message-input {
    width: 100%;
    height: 200px;
}

.core-info-panel {
	border: 1px solid #afafaf;
}


label {
	padding-left: 10px;
}


/*********************************************************************************
 * HTML loader
 *********************************************************************************/

.loader {
    border: 5px solid #c3c3c3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 10px auto;
}

.loader-container {
	width: 100%;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*********************************************************************************
 * 
 *********************************************************************************/