<div id="main-wrapper" ng-init="init()">
    <div class="page-inner">
        <div class="page-title">
            <h3>Search & Circulate</h3>
            <div class="page-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="#/app/core">Core Management</a></li>
                    <li><a href="">Search & Circulate</a></li>
                </ol>
            </div>
        </div>
        <div id="main-wrapper">
            <div class="row">
                <div class="panel panel-white">
                    <div class="alert alert-danger" role="alert" ng-show="errorMsg!=''">
                        <strong >{{errorMsg}}</strong>
                    </div>      
                    <div class="loader-container" ng-show="isLoading">
                        <div class="loader"></div>
                    </div>      
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Search option</h4>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <input type="email" class="form-control" placeholder="Input serach key here..." ng-model="data.searchkey">
                                </div>
                                <label for="inputPassword3" class="col-sm-5 control-label">Search by</label>
                                <div class="col-sm-3">
                                    <select class="form-control m-b-sm" ng-model="data.category">
                                        <option ng-repeat="item in data.criteria" value="{{item.value}}">{{item.label}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="align-right">
                                <button type="submit" class="btn btn-success" ng-click="doSearch()">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Search Results</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div id="example_wrapper" class="dataTables_wrapper">
                                <table id="example" class="display table dataTable" style="width: 100%;" role="grid" aria-describedby="example_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc">No.</th>
                                            <th class="sorting_asc">Select</th>
                                            <th class="sorting">Group/Member/Client/Profile</th>
                                            <th class="sorting">View Chats</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr role="row" class="odd"  ng-repeat="(key, group) in data.groups">
                                            <td>{{searchKeys.offset + key + 1}}</td>
                                            <td><span>
                                                <input type="checkbox" ng-model="group.selected" ng-true-value="'1'" ng-false-value="'0'" >
                                            </span></td>
                                            <td>{{group.name}}</td>
                                            <td>View</td>
                                        </tr>
                                        <tr role="row" class="odd"  ng-repeat="(key, user) in data.users">
                                            <td>{{searchKeys.offset + key + 1}}</td>
                                            <td><span>
                                                <input type="checkbox" ng-model="user.selected" ng-true-value="'1'" ng-false-value="'0'" >
                                            </span></td>
                                            <td>{{user.username}}</td>
                                            <td>View</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Circulate Message</h4>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <textarea class="message-input" placeholder="Message here to circulate..." ng-model="data.message"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="button-panel">
                    <a class="btn btn-success" role="button" ng-click="sendCirculate()">Send</a>
                </div>
            </div>
        </div>
    </div>  
</div>    
    
