<div id="main-wrapper" ng-init="init()">
    <div class="row">
        <div class="panel panel-white">                               
            <div class="panel-heading clearfix">
                <h4 class="panel-title">Component Informaiton</h4>
            </div>
            <div class="panel-body">
                <form id="wizardForm">
                    <div class="tab-content">
                        <div class="tab-pane active fade in" id="tab1">
                            <div class="row m-b-lg">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <label>Component Number</label>
                                            <input type="text" class="form-control"  ng-model="component.component_num" value="{{component.component_num}}">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Overall Status</label>
                                            <select  class="form-control m-b-sm" ng-model="component.overall_status" value="{{component.overall_status}}">
                                                <option value="Delayed">Delayed</option>
                                                <option value="Delayed-Recoverable">Delayed-Recoverable</option>
                                                <option value="On-time">On-time</option>
                                                <option value="Completed">Completed</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Schedule Completion Per</label>
                                            <input type="text" class="form-control"  ng-model="component.schedule_completion_per" value="{{component.schedule_completion_per}}">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Original Start Date<i class="glyphicon glyphicon-calendar"></i></label>
                                            <input type="text" ng-datepicker ng-option="datepickerOptions" ng-model="component.original_start_date">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <label>Original End Date<i class="glyphicon glyphicon-calendar"></i></label>
                                            <input type="text" ng-datepicker ng-option="datepickerOptions" ng-model="component.original_end_date">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Revised End Date<i class="glyphicon glyphicon-calendar"></i></label>
                                            <input type="text" ng-datepicker ng-option="datepickerOptions" ng-model="component.revised_end_date">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Schedule Status ID</label>
                                            <input type="text" class="form-control"  ng-model="component.schedule_status_id" value="{{component.schedule_status_id}}">
                                        </div>

                                        <div class="form-group col-md-3 has-feedback">
                                            <label>Planned Budget</label>
                                            <input type="text" class="form-control"  ng-model="component.planned_budget" value="{{component.planned_budget}}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-3 has-feedback">
                                            <label>Revised Budget</label>
                                            <input type="text" class="form-control"  ng-model="component.revised_budget" value="{{component.revised_budget}}">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Actual Expenditures</label>
                                            <input type="text" class="form-control"  ng-model="component.actual_expenditures" value="{{component.actual_expenditures}}">
                                        </div>
                                        <div class="form-group col-md-3 has-feedback">
                                            <label>Budget Utilization Per</label>
                                            <input type="text" class="form-control"  ng-model="component.budget_utilization_per" value="{{component.budget_utilization_per}}">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Budget Status ID</label>
                                            <input type="text" class="form-control"  ng-model="component.budget_status_id" value="{{component.budget_status_id}}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <label>Scope Status ID</label>
                                            <select  class="form-control m-b-sm" ng-model="component.scope_status_id" value="{{component.scope_status_id}}">
                                                <option value="NoChange">No Change</option>
                                            </select>>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Risk Status ID</label>
                                            <input type="text" class="form-control"  ng-model="component.risk_status_id" value="{{component.risk_status_id}}">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Component Desc</label>
                                            <input type="text" class="form-control"  ng-model="component.component_desc" value="{{component.component_desc}}">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Last Status Update<i class="glyphicon glyphicon-calendar"></i></label>
                                            <input type="text" ng-datepicker ng-option="datepickerOptions" ng-model="component.last_status_update">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label>Comments</label>
                                            <input type="text" class="form-control"  ng-model="component.comments" value="{{component.comments}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <ul class="pager wizard">
                    <button type="button" class="btn btn-success btn-rounded pull-left" ng-click="create()" ng-show="{{Id==null}}">Create</button>
                    <button type="button" class="btn btn-success btn-rounded pull-left" ng-click="update()" ng-show="{{Id!=null}}">Update</button>
                </ul>
            </div>
        </div> 
    </div>
</div>
