<div id="main-wrapper" ng-init="init()">
    <div class="page-inner">
        <div class="page-title">
            <h3>User Management</h3>
            <div class="page-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="#/core">Core Management</a></li>
                    <li><a href="#/cores">User Management</a></li>
                    <li><a href="">Add/Update</a></li>
                </ol>
            </div>
        </div>
        <div id="main-wrapper">
            
            <div class="alert alert-danger" role="alert" ng-show="errorMsg!=''">
                <strong >{{errorMsg}}</strong>
            </div>      
            <div class="loader-container" ng-show="isLoading">
                <div class="loader"></div>
            </div>      
            
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">Add/Edit User</h4>

                        </div>

                        <div class="panel-body">
                            
                            <form class="form-horizontal" name="myForm">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Username</label>
                                    <div class="col-sm-7">
                                        <input type="text" name="Username" class="form-control" ng-model="user.username" value="{{user.username}}" required>
                                        <span class="text-danger" ng-show="myForm.Username.$error.required">Required!</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Password</label>
                                    <div class="col-sm-7">
                                        <input type="password" name="Password" id="Password" class="form-control" ng-model="user.password" value="{{user.password}}" required>
                                        <span class="text-danger" ng-show="myForm.Password.$error.required">Required!</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Confirm Password</label>
                                    <div class="col-sm-7">
                                        <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" required pw-check="Password" ng-model="user.confirmpassword" value="{{user.confirmpassword}}">
                                        <span class="text-danger" ng-show="myForm.ConfirmPassword.$error.required">Required!</span>
                                        <span class="text-danger" ng-show="myForm.ConfirmPassword.$error.pwmatch">Password don't match!</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Mobile</label>
                                    <div class="col-sm-7">
                                        <input type="text" name="Mobile" class="form-control" ng-model="user.mobile" value="{{user.mobile}}" required ng-pattern="'\\d{0,1}\\d{11}'">
                                        <span class="text-danger" ng-show="myForm.Mobile.$error.required">Required!</span>
                                        <span class="text-danger" ng-show="!myForm.Mobile.$valid">Not valid mobile number!</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Email</label>
                                    <div class="col-sm-7">
                                        <input type="email" name="Email" class="form-control" ng-model="user.email" value="{{user.email}}" required>
                                        <span class="text-danger" ng-show="myForm.Email.$error.required">Required!</span>
                                        <span class="text-danger" ng-show="myForm.Email.$error.email">Not valid email!</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Department</label>
                                    <div class="col-sm-7">
                                        <input type="text" name="Department" class="form-control" ng-model="user.department" value="{{user.department}}" required>
                                        <span class="text-danger" ng-show="myForm.Department.$error.required">Required!</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">Permissions</h4>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-offset-1 col-sm-10">
                                        <div>
                                            <input type="checkbox" ng-model="permissions[0]" value="{{user.permissions[0]}}" ng-change="updateCorePermission()"><label>Core Management</label>
                                        </div>
                                        <div class="left-padding-30">
                                            <input type="checkbox" ng-model="permissions[1]" value="{{user.permissions[1]}}"><label>User Management</label>
                                        </div>
                                        <div class="left-padding-30">
                                            <input type="checkbox" ng-model="permissions[2]" value="{{user.permissions[2]}}"><label>Search & Circulate</label>
                                        </div>
                                        <div class="left-padding-30">
                                            <input type="checkbox" ng-model="permissions[3]" value="{{user.permissions[3]}}"><label>Backup</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" ng-model="permissions[4]" value="{{user.permissions[4]}}" ng-change="updateEnterprisePermission()"><label>Enterprise Management</label>
                                        </div>
                                        <div class="left-padding-30">
                                            <input type="checkbox" ng-model="permissions[5]" value="{{user.permissions[5]}}"><label>Client Profile</label>
                                        </div>
                                        <div class="left-padding-30">
                                            <input type="checkbox" ng-model="permissions[6]" value="{{user.permissions[6]}}"><label>Search & Circulate</label>
                                        </div>
                                        <div class="left-padding-30">
                                            <input type="checkbox" ng-model="permissions[7]" value="{{user.permissions[7]}}"><label>Reporting</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="button-panel">
                    <!-- <input type="button" class="btn btn-success" role="button" ng-click="create()" value="Save(try)"> -->
                    <input type="button" class="btn btn-success" role="button" ng-click="create()" ng-disabled="myForm.$invalid" ng-show="{{id==null}}" value="Create">
                    <input type="button" class="btn btn-success" role="button" ng-click="update()" ng-disabled="myForm.$invalid" ng-show="{{id!=null}}" value="Update">
                    
                </div>
            </div>
        </div>
    </div>  
</div>    
    
