<div id="main-wrapper" ng-init="init()">
    <div class="page-inner">
        <div class="page-title">
            <h3>Add/Edit Group</h3>
            <div class="page-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="#/app/enterprise">Enterprise Management</a></li>
                    <li><a href="#/app/profile-select">Customer Interface</a></li>
                    <li><a href="#/app/groups">Group Management</a></li>
                    <li><a href="">Add/Edit Group</a></li>
                </ol>
            </div>
        </div>
        <div id="main-wrapper">
            <div class="row">
                <div class="panel panel-purple">
                    <div class="panel-body">
                        <h4 class="panel-title">Customer: {{data.customer.username}}</h4><br/>
                        <h4 class="panel-title">Profile: {{data.profile.username}}</h4><br/>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger" role="alert" ng-show="errorMsg!=''">
                <strong >{{errorMsg}}</strong>
            </div>      
            <div class="loader-container" ng-show="isLoading">
                <div class="loader"></div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="panel panel-white">
                        <div class="panel-body">
                            <form class="form-horizontal" name="myForm">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Group Name</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="GroupName" ng-model="group.name" value="{{group.name}}" required>
                                        <span class="text-danger" ng-show="myForm.GroupName.$error.required">Required!</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">Group Admin</label>
                                    <div class="col-sm-7">
                                        <select class="form-control m-b-sm" ng-model="group.owner_id" name="OwnerID" required>
                                            <option selected value=""><font style="color: #f00;">Select Onwer ID</font></option>
                                            <option ng-repeat="(key, user) in data.users" value="{{user.id}}">{{user.username}}</option>
                                        </select>
                                        <span class="text-danger" ng-show="myForm.OwnerID.$error.required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Email</label>
                                    <div class="col-sm-7">
                                        <input type="email" name="Email" class="form-control" ng-model="group.email" value="{{group.email}}" required>
                                        <span class="text-danger" ng-show="myForm.Email.$error.required">Required!</span>
                                        <span class="text-danger" ng-show="myForm.Email.$error.email">Not valid email!</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Public</label>
                                    <div class="col-sm-7">
                                        <input type="checkbox" class="form-control" ng-model="group.public" value="{{group.public}}"  ng-true-value="1" ng-false-value="0" >
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="button-panel">
                    <!-- <a href="#/app/groups" class="btn btn-success" role="button">Save</a> -->
                    <input type="button" class="btn btn-success" role="button" ng-click="create()" ng-disabled="myForm.$invalid" ng-show="{{id==null}}" value="Create">
                    <input type="button" class="btn btn-success" role="button" ng-click="update()" ng-disabled="myForm.$invalid" ng-show="{{id!=null}}" value="Update">
                </div>
            </div>
        </div>
    </div>  
</div>    
    

