<div class="overlay" ng-init="init()"></div>
<div class="menu-wrap">
    <nav class="profile-menu">
        <div class="profile"><img src="assets/images/profile-menu-image.png" width="60" alt="David Green"/><span>David Green</span></div>
        <div class="profile-menu-list">
            <a href="#"><i class="fa fa-star"></i><span>Favorites</span></a>
            <a href="#"><i class="fa fa-bell"></i><span>Alerts</span></a>
            <a href="#"><i class="fa fa-envelope"></i><span>Messages</span></a>
            <a href="#"><i class="fa fa-comment"></i><span>Comments</span></a>
        </div>
    </nav>
    <button class="close-button" id="close-button">Close Menu</button>
</div>

<main class="page-content content-wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="sidebar-pusher">
                <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="logo-box" style="background: #fff; padding-top: 5px;">
                <img src="assets/images/logo_128x128.png" style="height: 50px; display: block; margin-left: auto; margin-right: auto">
            </div><!-- Logo Box -->
            <div class="search-button">
                <a href="javascript:void(0);" class="waves-effect waves-button waves-classic show-search"><i class="fa fa-search"></i></a>
            </div>
            <div class="topmenu-outer">
                <div class="top-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#/logout" class="log-out waves-effect waves-button waves-classic">
                                <span><i class="fa fa-sign-out m-r-xs"></i>Log out</span>
                            </a>
                        </li>
                    </ul><!-- Nav -->
                </div><!-- Top Menu -->
            </div>
        </div>
    </div><!-- Navbar -->
    <div class="page-sidebar sidebar">
        <div class="page-sidebar-inner slimscroll">
            <div class="sidebar-header">
                <div class="sidebar-profile">
                    <a href="javascript:void(0);" id="profile-menu-link">
                        <div class="sidebar-profile-image">
                            <img src="assets/images/profile-menu-image.png" class="img-circle img-responsive" alt="">
                        </div>
                        <div class="sidebar-profile-details">
                            <span>{{full_name}}<br><small>{{level_title}}</small></span>
                        </div>
                    </a>
                </div>
            </div>
            <ul class="menu accordion-menu" ng-show="{{level==1}}">
                <li><a href="#/app/core" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-user"></span><p>Core Management</p></a></li>
                <li><a href="#/app/enterprise" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-briefcase"></span><p>Enterprise Management</p></a></li>
            </ul>
            <ul class="menu accordion-menu" ng-show="{{level==2}}">
                <li><a href="#/app/profiles" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-user"></span><p>Profile Management</p></a></li>
                <li><a href="#/app/profile-select" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-briefcase"></span><p>Customer Interface</p></a></li>
            </ul>
            <ul class="menu accordion-menu" ng-show="{{level==3}}">
                <li><a href="#/app/groups" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon glyphicon-globe"></span><p>Group Management</p></a></li>
                <li><a href="#/app/users" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-user"></span><p>User Management</p></a></li>
            </ul>
            <ul class="menu accordion-menu" ng-show="{{level==4}}">
                <li><a href="#/app/user-edit" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-user"></span><p>User Management</p></a></li>
            </ul>
        </div>
    </div>
    
    <div class="page-inner" ui-view>          
    </div>
</main>
