<div id="main-wrapper" ng-init="init()">
    <div class="page-inner">
        <div class="panel panel-white">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Not Enough Permission</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-success" role="alert">
                    Sorry, but you don't have enough permission. 
                    To do this, please login again with the proper user!
                    To go back, please click <a onclick="window.history.go(-2);" style="cursor: pointer;"><b>here</b></a>.
                </div>
            </div>
        </div>
    </div>  
</div>    
    
    