<div class="panel info-box panel-white">
    <div class="panel-body">
        <div class="info-box-stats">
            <p class="counter">{{count}}</p>
            <span class="info-box-title">{{title}}</span>
        </div>
        <div class="info-box-icon">
            <!-- <i class="icon-users"></i> -->
        </div>
        <div class="info-box-progress">
            <div class="progress progress-xs progress-squared bs-n">
                <div class="progress-bar progress-bar-{{barclass}}" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent}}%">
                </div>
            </div>
        </div>
    </div>
</div>