<div class="panel panel-white" ng-init="init()">
    <div class="panel-heading">
        <h4 class="panel-title">Project Status</h4>
    </div>
    <div class="panel-body">
        <div class="table-responsive project-stats slimscroll">  
           <table class="table">
                <thead>
                    <tr>
                        <td>Project</td>
                        <td>Lead Organization</td>
                        <td>Overall Status</td>
                        <td>Schedule Completion</td>
                        <td>Budget Utilization</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="project in projects">
                        <td>{{project.Project}}</td>
                        <td>{{project.LeadOrganization}}</td>
                        <td><span class="label label-{{status[project.OverallStatus]}}" style="width: 80%; display: block;">{{project.OverallStatus}}</span></td>
                        <td>
                            <div class="progress progress-sm">
                               <div class="progress-bar progress-bar-{{status[project.OverallStatus]}}" role="progressbar" aria-valuenow="{{project.ScheduleCompletion}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.ScheduleCompletion}}%">
                               </div>
                           </div>
                        </td>
                        <td>{{project.BudgetUtilization}} %</td>
                    </tr>
               </tbody>
            </table>
        </div>
    </div>
</div>